*{
    margin: 0px;
    padding: 0px;
    transition: 0.3s;
    font-family: Arial;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
}
:root{
    --orange: #f93e21;
    --yellow: #fd9f23;
}